# Ignore virtual environment
env/
__pycache__/

# Ignore videos
data/videos/*
*.mp4
*.avi

# Keep CSVs
!data/*.csv

# Ignore system files
.DS_Store
.ipynb_checkpoints/

# Env
.env
src/.env

# Logs
logs/
data/*.csv
# Jupyter
*.ipynb