# Virtual Environment
env/

# Python Cache
__pycache__/
*.pyc

# System Files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
logs/

# Generated CSV files
data/squat_log_*.csv
logs/*.csv

# Videos
*.mp4
*.avi

# Secrets
.env

# Raw training exports
data/*_keypoints.csv
data/*_angles.csv
``